# Metabolomics data filtering

In [ ]:
%pip install acore

In [46]:
import acore
from acore import filter_metabolomics as fm

import pandas as pd
import os
import importlib

importlib.reload(acore)

Load in your data. We will use an example data set from MetaboLights. It can be found in example_data/MTBLS733.

In [3]:
data_path = "../../example_data/MTBLS733/MetaboLights-MTBLS733-Nextflow4MS-DIAL.csv"
data = pd.read_csv(data_path)

/var/folders/kb/lhszfsl515xft2_590h1dqvm0000gp/T/ipykernel_68411/3766423476.py:2: DtypeWarning: Columns (21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(data_path)

Let's look more into the data.

- The .dtypes function shows which columns are numeric (int64, float64) and which are categorical (object, bool).

- The .describe function summarises the numeric columns.

- With .columns, we can see which columns our data has.

In [4]:
data.dtypes

Unnamed: 0                                int64
identifier                               object
Alignment ID                             object
Average Mz                               object
Average Rt(min)                          object
duplicate_flag                           object
adduct_flag                              object
isotope_flag                             object
isotope_phr                             float64
Metabolite name                          object
Adduct type                              object
Post curation result                     object
Fill %                                   object
MS/MS assigned                             bool
Reference RT                            float64
Reference m/z                           float64
Formula                                  object
Ontology                                 object
INCHIKEY                                 object
SMILES                                   object
Annotation tag (VS1.0)                   object
RT matched                               object
m/z matched                              object
MS/MS matched                              bool
Comment                                 float64
Manually modified for quantification       bool
Manually modified for annotation           bool
Isotope tracking parent ID              float64
Isotope tracking weight number          float64
Total score                             float64
RT similarity                           float64
Dot product                             float64
Reverse dot product                     float64
Fragment presence %                     float64
S/N average                              object
Spectrum reference file name             object
MS1 isotopic spectrum                    object
MS/MS spectrum                          float64
SA1                                     float64
SA2                                     float64
SA3                                     float64
SA4                                     float64
SA5                                     float64
SB1                                     float64
SB2                                     float64
SB3                                     float64
SB4                                     float64
SB5                                     float64
dtype: object

In [5]:
data.describe()

,Unnamed: 0,isotope_phr,Reference RT,Reference m/z,Comment,Isotope tracking parent ID,Isotope tracking weight number,Total score,RT similarity,Dot product,...,SA1,SA2,SA3,SA4,SA5,SB1,SB2,SB3,SB4,SB5
count,"25,414.000","1,920.000","1,030.000","2,381.000",0.000,0.000,0.000,"2,381.000","1,030.000",0.000,...,"25,414.000","25,414.000","25,414.000","25,414.000","25,414.000","25,414.000","25,414.000","25,414.000","25,414.000","25,414.000"
mean,"12,706.500",34.766,12.121,334.690,NaN,NaN,NaN,96.610,94.222,NaN,...,"9,957,555.225","10,335,501.583","10,077,343.175","9,825,950.091","10,211,771.350","9,977,547.643","9,104,556.034","9,016,387.519","8,570,219.095","8,266,045.133"
std,"7,336.534",288.940,9.533,135.854,NaN,NaN,NaN,4.252,7.827,NaN,...,"108,000,249.160","98,034,114.909","97,551,159.385","95,307,243.820","94,928,044.814","97,761,012.632","94,167,685.885","95,227,828.327","91,395,034.615","91,592,654.566"
min,0.000,0.002,0.570,102.091,NaN,NaN,NaN,85.000,70.200,NaN,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,"6,353.250",0.358,4.480,239.074,NaN,NaN,NaN,94.200,90.800,NaN,...,"168,714.807","159,768.617","155,587.153","154,291.057","157,803.980","113,235.423","86,203.745","71,135.360","60,665.533","53,483.863"
50%,"12,706.500",0.951,8.150,318.243,NaN,NaN,NaN,98.800,98.350,NaN,...,"503,910.470","506,800.640","485,047.350","476,528.200","500,428.800","450,998.470","378,236.560","346,933.220","316,411.640","299,009.810"
75%,"19,059.750",2.766,19.683,416.172,NaN,NaN,NaN,99.900,99.900,NaN,...,"1,961,267.675","2,009,861.375","1,959,383.625","1,940,029.050","2,052,489.775","1,919,519.975","1,718,390.750","1,660,114.975","1,557,695.875","1,520,460.400"
max,"25,413.000","7,120.680",34.310,"1,270.449",NaN,NaN,NaN,100.000,100.000,NaN,...,"12,498,892,000.000","11,776,076,000.000","11,890,802,000.000","11,584,689,000.000","11,384,590,000.000","11,422,494,000.000","11,702,578,000.000","11,545,868,000.000","11,181,568,000.000","11,133,594,000.000"

In [6]:
print(f"There are {data.shape[0]} rows and {data.shape[1]} columns in our data.")
print("Our data has the following columns:")
for colname in data.columns.values.tolist():
    print("\t",colname)

There are 25414 rows and 48 columns in our data.
Our data has the following columns:
	 Unnamed: 0
	 identifier
	 Alignment ID
	 Average Mz
	 Average Rt(min)
	 duplicate_flag
	 adduct_flag
	 isotope_flag
	 isotope_phr
	 Metabolite name
	 Adduct type
	 Post curation result
	 Fill %
	 MS/MS assigned
	 Reference RT
	 Reference m/z
	 Formula
	 Ontology
	 INCHIKEY
	 SMILES
	 Annotation tag (VS1.0)
	 RT matched
	 m/z matched
	 MS/MS matched
	 Comment
	 Manually modified for quantification
	 Manually modified for annotation
	 Isotope tracking parent ID
	 Isotope tracking weight number
	 Total score
	 RT similarity
	 Dot product
	 Reverse dot product
	 Fragment presence %
	 S/N average
	 Spectrum reference file name
	 MS1 isotopic spectrum
	 MS/MS spectrum
	 SA1
	 SA2
	 SA3
	 SA4
	 SA5
	 SB1
	 SB2
	 SB3
	 SB4
	 SB5

It looks like the m/z and RT columns contain categorical data, so we need to change that first before we can filter.

In [17]:
numeric_data = fm.make_numeric.convert_to_numeric(data, ["Average Mz", "Average Rt(min)"], print_na_summary=True)

Column Average Mz has been converted successfully, no NaN values.
Column Average Rt(min) has been converted successfully, no NaN values.

In [18]:
numeric_data

,Unnamed: 0,identifier,Alignment ID,Average Mz,Average Rt(min),duplicate_flag,adduct_flag,isotope_flag,isotope_phr,Metabolite name,...,SA1,SA2,SA3,SA4,SA5,SB1,SB2,SB3,SB4,SB5
0,0,0.03_171.99,1848,171.994,0.031,NaN,NaN,NaN,NaN,Unknown,...,"4,075,218.800","3,107,714.500","3,224,671.200","3,100,795.200","3,218,963.500","4,109,884.800","3,473,687.000","3,555,931.000","3,700,617.800","4,714,087.500"
1,1,0.04_182.99,2151,182.986,0.038,NaN,NaN,NaN,NaN,Unknown,...,"8,745,378.000","6,435,527.500","6,564,399.000","6,728,224.000","6,689,435.000","8,370,828.000","6,570,529.000","6,653,673.500","6,556,864.500","7,956,248.500"
2,2,0.04_196.15,2554,196.155,0.042,NaN,NaN,NaN,NaN,Unknown,...,"3,511,845.200","2,745,459.000","2,600,677.000","2,587,100.200","2,586,849.200","2,931,167.500","2,311,969.000","2,228,402.200","2,217,159.000","2,885,036.200"
3,3,0.41_118.44,554,118.440,0.407,NaN,NaN,NaN,NaN,Unknown,...,"35,294.020","30,813.000","50,259.050","24,106.030","33,674.960","31,959.850","25,801.860","21,137.220","19,737.760","18,970.890"
4,4,0.43_118.09,539,118.086,0.427,Match #065: Possible duplicate of 0.52_118.09 ...,NaN,NaN,NaN,w/o MS2:Valine; LC-ESI-QTOF; MS2; CE,...,"57,559,904.000","47,708,448.000","47,418,344.000","46,128,584.000","47,533,796.000","57,822,920.000","47,149,300.000","46,561,192.000","46,621,160.000","44,220,552.000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"25,409","25,409",37.14_157.04,1483,157.036,37.136,NaN,NaN,NaN,NaN,Unknown,...,"26,608,880.000","27,224,586.000","38,846,140.000","38,032,408.000","34,086,672.000","25,443,546.000","34,003,720.000","39,564,276.000","43,354,640.000","38,120,636.000"
"25,410","25,410",37.33_157.04,1479,157.036,37.326,NaN,NaN,NaN,NaN,Unknown,...,"29,026,352.000","30,503,354.000","36,343,592.000","37,094,708.000","38,317,424.000","25,160,338.000","33,506,156.000","32,792,946.000","35,234,460.000","31,790,370.000"
"25,411","25,411",37.50_157.04,1482,157.036,37.501,NaN,NaN,NaN,NaN,Unknown,...,"24,405,672.000","24,932,406.000","35,285,380.000","38,054,020.000","30,952,190.000","31,250,330.000","29,900,362.000","38,608,168.000","35,456,848.000","33,066,372.000"
"25,412","25,412",37.76_157.04,1477,157.035,37.764,NaN,NaN,NaN,NaN,Unknown,...,"22,355,124.000","23,754,568.000","33,393,302.000","37,931,356.000","29,980,842.000","22,872,974.000","28,784,320.000","30,042,418.000","35,670,736.000","35,484,512.000"
"25,413","25,413",38.13_157.04,1484,157.036,38.135,NaN,NaN,NaN,NaN,Unknown,...,"21,129,162.000","28,953,466.000","29,527,782.000","31,082,686.000","27,636,092.000","22,568,102.000","32,266,070.000","29,346,024.000","35,210,244.000","30,083,600.000"

In [19]:
numeric_data.dtypes

Unnamed: 0                                int64
identifier                               object
Alignment ID                             object
Average Mz                              float64
Average Rt(min)                         float64
duplicate_flag                           object
adduct_flag                              object
isotope_flag                             object
isotope_phr                             float64
Metabolite name                          object
Adduct type                              object
Post curation result                     object
Fill %                                   object
MS/MS assigned                             bool
Reference RT                            float64
Reference m/z                           float64
Formula                                  object
Ontology                                 object
INCHIKEY                                 object
SMILES                                   object
Annotation tag (VS1.0)                   object
RT matched                               object
m/z matched                              object
MS/MS matched                              bool
Comment                                 float64
Manually modified for quantification       bool
Manually modified for annotation           bool
Isotope tracking parent ID              float64
Isotope tracking weight number          float64
Total score                             float64
RT similarity                           float64
Dot product                             float64
Reverse dot product                     float64
Fragment presence %                     float64
S/N average                              object
Spectrum reference file name             object
MS1 isotopic spectrum                    object
MS/MS spectrum                          float64
SA1                                     float64
SA2                                     float64
SA3                                     float64
SA4                                     float64
SA5                                     float64
SB1                                     float64
SB2                                     float64
SB3                                     float64
SB4                                     float64
SB5                                     float64
dtype: object

Now the Mz and RT columns are dtype float, so they are numeric. That means that now we can proceed with filtering.

We want to filter based on RT, by removing all features that have a RT below a certain time, to exclude features that are at the dead volume. In our case, the cut-off will be 0.8 minutes.

We also want to filter out features that have an m/z value below 600 an dhave m/z decimals between 0.3 and 0.9.

We can do both of those things with the filtering function.

In [21]:
filtered_data, removed_features = fm.filter_mz_rt(
    numeric_data, 
    "Average Rt(min)", 
    "Average Mz", 
    mz_decimals=(0.3, 0.9), 
    mz_low=600,
    rt_dead_volume=0.8,
    save_removed = True)

Column Average Rt(min) has been converted successfully, no NaN values.
Column Average Mz has been converted successfully, no NaN values.
Filtering based on RT completed.
Filtering based on m/z was completed.

Let's look at our filtered data.

In [26]:
print(f"There are {data.shape[0]} rows and {data.shape[1]} columns in our original data.")
print(f"There are {filtered_data.shape[0]} rows and {filtered_data.shape[1]} columns in our filtered data.")
print(f"{removed_features.shape[0]} features were removed from our data.")

There are 25414 rows and 48 columns in our original data.
There are 18917 rows and 48 columns in our filtered data.
6497 features were removed from our data.

We can also look into our removed features.

In [45]:
bdv = removed_features[removed_features["RemovalReason"] == "BelowDeadVolume"].shape
nbr = removed_features[removed_features["RemovalReason"] == "NotBiologicallyRelevant"].shape
print(f"{bdv[0]} features were removed because they were below the dead volume.")
print(f"{nbr[0]} features were removed because they were deemed not biologically relevant (m/z-based filtering).")

removed_features

1247 features were removed because they were below the dead volume.
5250 features were removed because they were deemed not biologically relevant (m/z-based filtering).

,Unnamed: 0,identifier,Alignment ID,Average Mz,Average Rt(min),duplicate_flag,adduct_flag,isotope_flag,isotope_phr,Metabolite name,...,SA2,SA3,SA4,SA5,SB1,SB2,SB3,SB4,SB5,RemovalReason
0,0,0.03_171.99,1848,171.994,0.031,NaN,NaN,NaN,NaN,Unknown,...,"3,107,714.500","3,224,671.200","3,100,795.200","3,218,963.500","4,109,884.800","3,473,687.000","3,555,931.000","3,700,617.800","4,714,087.500",BelowDeadVolume
1,1,0.04_182.99,2151,182.986,0.038,NaN,NaN,NaN,NaN,Unknown,...,"6,435,527.500","6,564,399.000","6,728,224.000","6,689,435.000","8,370,828.000","6,570,529.000","6,653,673.500","6,556,864.500","7,956,248.500",BelowDeadVolume
2,2,0.04_196.15,2554,196.155,0.042,NaN,NaN,NaN,NaN,Unknown,...,"2,745,459.000","2,600,677.000","2,587,100.200","2,586,849.200","2,931,167.500","2,311,969.000","2,228,402.200","2,217,159.000","2,885,036.200",BelowDeadVolume
3,3,0.41_118.44,554,118.440,0.407,NaN,NaN,NaN,NaN,Unknown,...,"30,813.000","50,259.050","24,106.030","33,674.960","31,959.850","25,801.860","21,137.220","19,737.760","18,970.890",BelowDeadVolume
4,4,0.43_118.09,539,118.086,0.427,Match #065: Possible duplicate of 0.52_118.09 ...,NaN,NaN,NaN,w/o MS2:Valine; LC-ESI-QTOF; MS2; CE,...,"47,708,448.000","47,418,344.000","46,128,584.000","47,533,796.000","57,822,920.000","47,149,300.000","46,561,192.000","46,621,160.000","44,220,552.000",BelowDeadVolume
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"6,492","25,397",36.34_361.84,10872,361.841,36.344,NaN,NaN,NaN,NaN,Unknown,...,"41,851.130","51,202.730","33,478.470","47,338.650","47,860.230","32,742.440","28,718.350","37,940.480","34,328.280",NotBiologicallyRelevant
"6,493","25,399",36.40_304.89,7687,304.891,36.398,Match #1247,NaN,NaN,NaN,Unknown,...,"2,669,204.200","3,097,163.200","2,243,482.800","2,396,253.500","2,772,311.000","2,555,962.000","2,751,671.800","2,578,197.000","2,751,743.000",NotBiologicallyRelevant
"6,494","25,400",36.43_199.83,2668,199.827,36.432,NaN,NaN,NaN,NaN,Unknown,...,"25,709.320","51,583.420","37,137.120",0.000,"27,534.100","12,466.370","14,449.100",0.000,"19,478.900",NotBiologicallyRelevant
"6,495","25,401",36.44_182.31,2144,182.308,36.435,NaN,NaN,NaN,NaN,Unknown,...,"34,318.300","14,549.960","11,305.220","14,131.370","18,496.300","14,793.800","12,596.850","14,604.950","23,033.660",NotBiologicallyRelevant
"6,496","25,402",36.45_304.89,7689,304.892,36.445,Match #1247: Possible duplicate of 36.40_304.8...,NaN,NaN,NaN,Unknown,...,"1,858,325.200","2,710,429.500","1,895,144.400","1,990,628.600","2,548,984.800","2,223,233.800","2,424,809.500","2,220,196.800","2,362,059.200",NotBiologicallyRelevant